<div class="jumbotron" id="homeMessage" >

    <div class="alert homeHeader" >
        <h2 class="myHeader" >Hi There!</h2>
        <h4> This website was created to show my abilities in web development.<br>
            In this tab, a JSON object was formatted to html view, using pure JS.<br>
            Explore the site and see other stuff I did. </h4>
        <img class="callForActionTabs" src="../images/seeMyWork.png"/>
    </div>
    <img ng-click="downloadCV()" id="cvDownloadImg" src="../images/download.png"/>
    <div id="txt">tzach_bein.json</div>
    <div id="json"></div>

</div>
