<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            About Me
        </h1>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Experience</h4>
            </div>
            <div class="panel-body">
                <img src="./images/experience.png" class="aboutMeIcon">
                <p>Checkpoint (2015 - Today), Jivi Group (2014 - 2015)</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">More Info
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Experience</h4>
                            </div>
                            <div class="modal-body">
                                <div class="well aboutModal">
                                    <div>
                                        <img src="./images/checkpoint.png" class="companyLogo">
                                        <div class="modalHeaderCompany">Checkpoint Software Technologies</div>
                                        <div class="modalHeaderRole">Automation Engineer</div>
                                        <div class="modalHeaderInfo">Leading and managing an automation project, which includes
                                            construction of automated testing system and code development, using Selenium (Java
                                            driver).<br>
                                            Designing scenarios and manual testing of new developments in MIS
                                            department of the company.
                                        </div>
                                    </div>

                                    <div>
                                        <img src="./images/jiviGroup.jpg" class="companyLogo">
                                        <div class="modalHeaderCompany">JIVI Group</div>
                                        <div class="modalHeaderRole">NOC Team Member</div>
                                        <div class="modalHeaderInfo">
                                            Proactive testing and servers support for production environment,
                                            writing SQL queries and producing reports.<br>
                                            Monitor and provide support for B2B customers, while solving issues in
                                            real time.<br>
                                            Client-Server Manual Testing on the company's various products.
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Eduction</h4>
            </div>
            <div class="panel-body">
                <img src="./images/education.png" class="aboutMeIcon">
                <p>Academic College of Tel-Aviv, Yaffo (2013 - 2016)</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">More Info
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Education</h4>
                            </div>
                            <div class="modal-body">
                                <div class="well aboutModal">
                                    <div>
                                        <img src="./images/MTAlogo.jpg" class="companyLogo">
                                        <div class="modalHeaderCompany">Academic College of Tel-Aviv, Yaffo</div>
                                        <div class="modalHeaderRole">Information Systems (B.Sc)</div>
                                        <div class="modalHeaderInfo">
                                            Relevant courses: c++, Java, Algorithmics, Data Structure, Computers Communications, Project Management, Web Development </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i>Personal</h4>
            </div>
            <div class="panel-body">
                <img src="./images/personal.png" class="aboutMeIcon">

                <p>Get to know me better</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal3">More Info
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Personal</h4>
                            </div>
                            <div class="modal-body">
                                <div class="well aboutModal">
                                    <div>
                                        <a target="_blank" href="https://www.facebook.com/tzachb">
                                            <img src="./images/facebook.png" class="socialNetworkLogo"/></a>
                                        <div class="modalHeaderCompany">"Old ways won't open new doors"</div>
                                        <div class="modalHeaderRole">Knock knock!</div>
                                        <div class="modalHeaderInfo">
                                            I am analytical, autodidact, fast learner & highly motivated.<br>
                                            Let me show you my presonality in a meeting.
                                        </div>
                                    </div>
                                    <div>
                                        <a target="_blank" href="https://www.linkedin.com/in/tzach-bein/">
                                            <img src="./images/linkedin.png" class="socialNetworkLogo"/></a>
                                        <div class="modalHeaderCompany">"If you don't know something - learn it"</div>
                                        <div class="modalHeaderRole">And don't stay behind.</div>
                                        <div class="modalHeaderInfo">If I get into something I don't know or having trouble with,
                                            I just study it. We're living in the era of knowledge, so why not use it?</div>
                                    </div>
                                    <div>
                                        <a target="_blank" href="https://github.com/BEIN87">
                                            <img src="./images/github.png" class="socialNetworkLogo"/></a>
                                        <div class="modalHeaderCompany">"Seeing is believing"</div>
                                        <div class="modalHeaderRole">And thats why I created this site.</div>
                                        <div class="modalHeaderInfo">I wanted to give you a sense of what I can do.
                                            Want to achieve my best by joining a great place, as web developer.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive myImg" src="/images/myPic.jpg" alt="Tzach Bein">
        </div>
    </div>
<h2 class="page-header"></h2>
</div>